<nav>
  <ul>
    <li><a href="/">cakravan</span></a></li>
    <li><a href="/restaurants">View All Doctors</span></a></li>
    <li><a href="/menus">View Doctor's Ratings</span></a></li>
  </ul>
</nav>